// Color Pallete

$dark: #01011F;
$primary: #903CF2;
$secondary: #467AFF;
$accent: #F2A217;

body{
    padding: 0;
    min-height: 100vh;
    position: relative;
    background-color: $dark;

    &::before{
        content: '';
        min-height: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-image: url(../img/body.jpg);
        background-size: cover;
        background-position: center center;
        mix-blend-mode: multiply;
        z-index: -1;
    }
}

main{
    overflow-x: hidden
}

.btn{
    padding: 14px 55px;
    display: inline-block;
    margin-top: 10px;
    opacity: .8;
    transition: all .3s ease-in-out;
    &:hover{
        opacity: 1;
        color: white;
    }
}

.btn-primary{
    background-color: $primary;
    color: white;
}
.btn-secondary{
    background-color: $secondary;
    color: white;
}

.section-2{
    .card{
        background: rgba( 255, 255, 255, .2);
        backdrop-filter: blur(40px);

        padding: 20px 40px 50px;
        text-align: center;
        border: 1px solid rgba($color: white, $alpha: .5);
        .icon{
            height: 170px;
            transform: translateY(-70%);
            margin-bottom: -20%;
            
            img{
                height: 100%;
                filter: drop-shadow(-4px 9px 26px rgba($color: #000000, $alpha: .57));
            }
        }
        h2{
            font-family: 'Cormorant Garamond', serif;
            color: $accent;
            font-size: 40px;
            margin-bottom: 10px;
        }
        p{
            font-family: 'Quicksand', sans-serif;
            width: 95%;
            margin: 0px auto;
            color: white;
            font-size: 15px;
        }
    }
}
.mb-10{
    margin-bottom: 10px;
}

.section-3{
    h2{
        font-family: 'Cormorant Garamond', serif;
        color: white;
        font-size: 60px;
        margin-bottom: 10px;
        span{
            font-style: italic;
            color: $accent;
        }
    }
    p{
        font-family: 'Quicksand', sans-serif;
        width: 70%;
        color: white;
        font-size: 15px;
    }

    .images{
        position: relative;
        background-color: #fff;
        img{
            position: absolute;
            height: 500px;
            top: -250px;
            width: 400px;
            object-fit: cover;
            left: 200px;
            border-radius: 20px;
            box-shadow: -10px 11px 16px rgba( 0, 0, 0, .35);
            &:nth-child(1){
                transform: translateX(-180px) rotate(-35deg);
            }
            &:nth-child(2){
                transform: translateX(-100px) rotate(-15deg);
            }
            &:nth-child(3){
                transform: rotate(10deg);
            }
        }
    }
}

.section-4{
    h2{
        font-family: 'Cormorant Garamond', serif;
        color: white;
        font-size: 60px;
        margin-bottom: 10px;
        span{
            font-style: italic;
            color: $accent;
        }
    }
    p{
        font-family: 'Quicksand', sans-serif;
        width: 70%;
        color: white;
        font-size: 15px;
    }
    img{
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: 15px;
        padding: 5px;
    }
}

.section-5{
    .row{
        position: relative;
    }
    .content{
        background: rgba( 0, 0, 0, .5);
        backdrop-filter: blur(60px);
        border: 1px solid rgba($color: white, $alpha: .5);
        width: 0%;
        height: 0%;
        margin-top: 10px;
        margin-right: 10px;
        position: absolute;
        top: 0;
        overflow: hidden;
        display: none;

        .icon{
            text-align: right;
            display: none;
            img{
                height: 500px;
                filter: drop-shadow(27px 26px 6px rgba($color: #000000, $alpha: .57));
            }
        }
        .close{
            position: absolute;
            top: 20px;
            right: 20px;
            color: white;
            cursor: pointer;
            display: none;
            z-index: 9;
            span{
                font-size: 30px;
            }
        }
        .number{
            font-family: 'Cormorant Garamond', serif;
            color: white;
            font-size: 380px;
            position: absolute;
            opacity: .1;
            left: -80px;
            bottom: -160px;
            display: none;
        }
        h2{
            color: white;
            font-family: 'Cormorant Garamond', serif;
            font-size: 60px;
            margin-top: 80px;
            margin-bottom: 30px;
            display: none;
        }
        p{
            color: white;
            font-family: 'Quicksand', sans-serif;
            display: none;
            opacity: .8;
        }
    }
    .content.visible{
        &::before{
            content: '';
            position: absolute;
            bottom: -155px;
            right: -155px;
            height: 450px;
            width: 450px;
            background: radial-gradient(#467AFF, rgba(0, 0, 0, 0) 70%);
            opacity: .4;
            border-radius: 50%;
            z-index: -1;
        }
    }
    .card{
        background: rgba( 255, 255, 255, .13);
        backdrop-filter: blur(30px);
        border: 1px solid rgba($color: white, $alpha: .5);
        height: 200px;
        cursor: pointer;
        transition: all .3s ease-in-out;
        padding: 10px;
        margin-top: 10px;
        margin-right: 10px;
        position: relative;
        overflow: hidden;
        &:hover{
            border: 1px solid rgba($color: white, $alpha: 1);
            backdrop-filter: blur(0px);
        }
        .icon{
            height: 180px;
            img{
                height: 100%;
                filter: drop-shadow(17px 16px 16px rgba($color: #000000, $alpha: .64));
            }
            position: absolute;
            bottom: 20px;
            right: 0px;
        }

        .icon-2{
            bottom: 10px;
        }

        .icon-3{
            bottom: 10px;
        }

        .icon-7{
            bottom: -80px;
            height: 300px;
        }
        

        h2{
            font-family: 'Cormorant Garamond', serif;
            color: $accent;
            font-size: 100px;
            opacity: .5;
            margin-bottom: 10px;
            position: absolute;
            bottom: 50px;
            left: 20px;
        }
        p{
            font-family: 'Quicksand', sans-serif;
            width: 95%;
            margin: 0px auto;
            color: white;
            font-size: 22px;
            position: absolute;
            bottom: 15px;
            left: 20px;
        }
    }
    .card-full{
        height: 400px;
    }

}

.section-6{
    h2{
        font-family: 'Cormorant Garamond', serif;
        color: white;
        font-size: 50px;
    }
    p{
        font-family: 'Quicksand', sans-serif;
        width: 60%;
        margin: 0px auto;
        color: white;
        font-size: 16px;
        margin-bottom: 50px;
    }
    .card{
        position: relative;
        img{
            height: 600px;
            width: 100%;
            object-fit: cover;
        }
        .content{
            position: absolute;
            bottom: 0;
            width: 100%;
            text-align: left;
            background: rgba( 255, 255, 255, .26);
            backdrop-filter: blur(30px);
            padding: 20px 30px;
            h2{
                font-size: 28px;
                text-align: left;
            }
            P{
                text-align: left;
                width: 100%;
                color: $accent;
                margin-bottom: 0px;
            }
        }
    }
}


.section-7{
    .tab-pannel{
        border: 1px solid rgba($color: white, $alpha: .5);
        background: rgba( 255, 255, 255, .13);
        backdrop-filter: blur(30px);
        padding: 20px 0px;
        h2{
            text-align: center;
            font-family: 'Cormorant Garamond', serif;
            color: $accent;
            font-size: 130px;
            padding: 80px 0px;
        }
        .tabs{
            margin: 0px 20px;
            .tab{
                cursor: pointer;
                font-family: 'Quicksand', sans-serif;
                color: white;
                font-size: 22px;
                padding: 10px 20px;
                transition: all .3s ease-in-out;
                &:hover{
                    background: rgba( 255, 255, 255, .05);
                }
            }
        }
    }


    .tab-content{
        padding: 70px 30px;
        border: 1px solid rgba($color: white, $alpha: .5);
        border-left: none;
        background: rgba( 255, 255, 255, .13);
        backdrop-filter: blur(30px);
        height: 100%;
        h2{
            font-family: 'Cormorant Garamond', serif;
            color: white;
            font-size: 70px;
            margin-bottom: 20px;
        }
        p{
            color: white;
            font-family: 'Quicksand', sans-serif;
        }
    }
}


.section-8{
    width: 95%;
    .row{
        border: 1px solid rgba( 255, 255, 255, .5);
        background: rgba( 255, 255, 255, .13);
        backdrop-filter: blur(30px);
        align-items: center;
    }
    .newsletter{
        padding-left: 20px;
        h4{
            font-family: 'Cormorant Garamond', serif;
            color: white;
            font-size: 50px;
            margin-bottom: 20px;
            span{
                color: $accent;
                font-style: italic;
            }
        }
        p{
            color: white;
            font-family: 'Quicksand', sans-serif;
            width: 80%;  
            margin-bottom: 50px;
        }
        form{
            display: flex;
            align-items: center;
            input{
                height: 50px;
                border: none;
            }
            input[type=text]{
                padding-left: 20px;
                display: block;
                width: 65%;
                opacity: .8;
                font-family: 'Quicksand', sans-serif;
                outline: none;
                &::placeholder{
                    font-family: 'Quicksand', sans-serif;
                }
            }
            input[type=submit]{
                display: block;
                width: 25%;
                background-color: $primary;
                color: white;
                font-family: 'Quicksand', sans-serif;
            }
        }
    }
    .image-card{
        text-align: center;
        img{
            height: 500px;
            transform: translateY(-45%) scaleX(-1);
            margin-bottom: -160px;
            filter: drop-shadow(-20px 13px 26px rgba($color: #000000, $alpha: .64));
        }
    }
}